@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Maru+Gothic&display=swap');

.Welcome {
    text-align: center;
}

.Welcome-header {
    background: linear-gradient(to bottom, #8cc4ff, #3598ff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Welcome-white_window { /*metto il suffisso Welcome- per differenziare con il tag degli altri css*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 80%;
    height: auto;
    min-height: min(770px, 80vh);
    border-radius: 15px;
    box-shadow:  8px 8px 20px rgba(0, 0, 0, 0.4);
    color: #2352a4;
    font-family: Inter, sans-serif;
}

.Welcome-white_window .white_head {
    margin-top: 30px;
}

.Welcome-white_window .white_head h2 {
    font-size: 18px;
    font-weight: 300;
}

.Welcome-white_window .white_head .logo {
    width: 270px;
    height: 50px;
}

.Welcome-white_window .white_body h1 {
    font-size: 60px;
    font-family: Poppins, sans-serif;
}

.Welcome-white_window .white_foot {
    margin-bottom: 30px;
}

.Welcome-white_window .white_foot button {
    border: none;
    border-radius: 10px;
    width: 17em;
    height: 40px;
    background: linear-gradient(to bottom, #6293e6, #306fdb);
    color: white;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 23px;
    font-weight: normal;
    box-shadow:  8px 8px 20px rgba(0, 0, 0, 0.4);
}

.foot_bar {
    background-color: transparent;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: 65px;
    padding-right: 20%;
    gap: 15px;
}

.foot_bar button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    box-shadow:  8px 8px 20px rgba(0, 0, 0, 0.4);
}

.it{
    background-image: url("../img/it.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.en{
    background-image: url("../img/en.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ja{
    background-image: url("../img/ja.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
